[Desktop Entry]
Type=Application
Name=LGL VM Curator
Name[en_GB]=LGL VM Curator
GenericName=VM Manager
Comment=Manage and curate virtual machines
Exec=kitty -e vm-curator
Icon=lgl-vm-curator
Categories=Utility;
Terminal=false
StartupNotify=true
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
